*{
    box-sizing: border-box;
}

/**************** crousel banner part ****************/
.carousel-banner {
    box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.75);

}

.banner_part {
    height: 420px;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("/images/imag-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

.banner_part-img-2 {
    height: 420px;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("/images/imag-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.banner_part-img-3 {
    height: 420px;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("/images/imag-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/**************** carousel banner text ****************/

.banner_part .banner_text {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 60px;
}

.banner_part .banner_text .banner_text_iner {
    display: table-cell;
    vertical-align: middle;
}

.banner_part .banner_text h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 400;
    color: #FF5B5B;
    line-height: 15px;
}

.banner_part .banner_text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 2px;
    text-transform: capitalize;
    font-weight: 400;
    color: aliceblue;
    margin: 23px 0 45px;
}





/**************** Ultimos resultados ****************/
.resultados-banner{
    margin-top: 20px;
    padding-top:20px ;
    padding-bottom: 20px;
    color: blueviolet;
   
}
   .resultados-banner span {

    font-size: 20px;
   }
   .text-VS {
    margin-top: 5px;
    margin-left: 25%;
    }


 .linha-vertical {
   margin-top: 20px;
   margin-left: 10px;
   margin-right: 10px;
   height: 130px;
   border-left: 1px solid rgb(174, 228, 230);
}            
 @media (max-width: 280px) {
.text-VS {
 margin-top: 5px;
 margin-left: 25%;
}
.resultados-banner span {
 margin-left: 25%;
 }              
}
@media (max-width: 375px){
 .text-VS {
  margin-top: 5px;
  margin-left: 25%;
 }
}
  @media  (min-width: 768px)  {
      .resultados-banner p {
          font-size: 16px;
          color: #FF5B5B;
          /* margin-left: 20px; */
      }
      .resultados-banner  span {
          font-size:20px ;
      }
         .linha-vertical {
             margin-top: 20px;
             height: 130px;
             border-left: 2px solid rgb(174, 228, 230);
         }
         .resultados-banner p {
             margin-left: 10px;
           
         }
         .resultados-banner span {
            padding-left: 5px;
         }
         .text-VS {
             margin-top: 5px;
             margin-left: 25%;
         }

         
  }

