* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/**************** Nav ****************/



.navbar-custom {
    background-color: rgb(7, 7, 7); 
}
.navbar-custom ul li a  {
    color: aliceblue;
}
.navbar-custom  button {
    color: white;
}

@media only screen and (min-width: 1024px){
    .button-time{
        margin-top: -5px;
    }
}

.logo{
    background-image: url("/images/LOGO_PROJETO - Copia.jpg");
    background-size: cover;
    width: 180px;
    height: 70px;
}



/**************** crousel banner part ****************/

.carousel-banner {
    /* border-bottom: 1px solid white; */
    border-top:1px solid white;
    
}

.banner_part {
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("/images/imag-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.banner_part-img-2 {
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("/images/about_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.banner_part-img-3 {
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("/images/about_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: bottom; */
}


/**************** carousel banner text ****************/

.banner_part .banner_text {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 60px;
    
}

.banner_part .banner_text .banner_text_iner {
    display: table-cell;
    vertical-align: middle;
    
}

.banner_part .banner_text h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
    color: #fffafa;
    line-height: 15px;
}

.banner_part .banner_text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 2px;
    text-transform: capitalize;
    font-weight: 400;
    color: rgb(253, 253, 253);
    margin: 23px 0 45px;

}

.banner_part .banner_text span{
    color: #f02727;
    font-weight: 600;
    text-transform: unset;

}


/**************** Titulo-section****************/
.titulo-section {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
 .linha-horizontal {
    width: 250px;
    size: 20;
    background-color:white;
}   






/**************** Resultados da rodada ****************/
.resultados{
       background: linear-gradient(to bottom, #000000, #434343);
         color: white;
}
.resultados-rodada-titulo p{
padding-top: 20px ;
margin-left: 8px;
font-size: 12px;
}
.resultados-rodada-titulo h6{
text-align: center;
font-size: 14px;
}
.resultados img{
    width: 45px;
    border-radius: 10px;
    
}
.resultados-rodada-titulo span{
font-size: 18px;
color: red;
}
.resultados-banner {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: aliceblue;
    
}


.resultados-banner span {
    font-size: 20px;
    color: gold;
}

.text-VS {
    margin-top: 5px;
    margin-left: 25%;
}

.linha-vertical {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 130px;
    border-left: 1px solid rgb(219, 221, 221);
    
}


@media (max-width: 280px) {
    .text-VS {
        margin-top: 5px;
        margin-left: 25%;
    }
    .resultados-banner span {
        margin-left: 25%;
    }
}

@media (max-width: 375px) {
    .text-VS {
        margin-top: 5px;
        margin-left: 25%;
    }
}



@media (min-width: 768px) {
    .resultados-rodada-titulo p {
        padding-top:30px;
        margin-left: 8px;
        font-size: 18px;
    }
    .resultados-rodada-titulo h6 {
        text-align: center;
        font-size: 20px;

    }

    .resultados-rodada-titulo span {
        font-size: 26px;
        color: red;
    }

     .linha-horizontal {
        width: 350px;
        size: 20;
        background-color: white;
    }
    .resultados-banner p {
        font-size: 16px;
        color: white;
        margin-left: 10px;
        margin-left: 20px;
    }
    .resultados-banner span {
        font-size: 20px;
         padding-left: 5px;
    }

    .linha-vertical {
        margin-top: 20px;
        height: 130px;
        border-left: 2px solid rgb(174, 228, 230);
    }
    .text-VS {
        margin-top: 5px;
        margin-left: 25%;
    }
    .titulo-section {
        margin-top: 30px;
        text-align: center;
        font-size: 22px;
    }
}



/* **************** Tabela de jogos ****************  */

.section-jogos {
    padding: 2.5em 0;
}

@media (min-width: 768px) {
    .section-jogos {
        padding: 2em 0;
          
    }
}

.section-jogos.section-jogos-sm {
    padding: 4em 0;
}

.section-jogos-heading {
    padding-bottom: 20px;
    margin-bottom: 0px;
    position: relative;
    font-size: 30px;
}

.proximo-jogo-lider {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.widget-vs {
    width: 100%;
}

.widget-vs img {
    max-width: 130px;
}

@media (min-width: 280px) and (max-width:375px){
    .widget-vs img {
        max-width: 90px;
    }
    
}

.widget-vs h3 {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 18px;
    padding-top: 5px;
}

.widget-vs .vs>span {
    display: inline-block;
    font-size: 12px;
    background: #ee1e46;
    padding: 5px 20px;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
}

.widget-vs-contents {
    padding-bottom: 0px;
}

.widget-vs-contents h4 {
    color: #ee1e46;
    font-size: 16px;
    font-weight: 700;
}
.widget-title {
    padding: 16px 20px;
    color: #fff;
    background-color: #ee1e46;
}

.widget-title-login {
    padding: 10px 16px;
    color: #fff;
    background-color: #ee1e46;
    border-radius: 5px;
}

.widget-title h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}
.widget-body {
    padding: 20px;
    
}

  .team-vs .team-1,
  .team-vs .team-2 {
      padding: 30px;
  }

  .team-vs .team-1,
  .team-vs .team-2 {
      padding: 30px;
  }

  .team-vs .team-2 {
      position: relative;
  }

  .team-vs .team-2:before {
      position: absolute;
      background: #f6d743;
      background: #ee1e46;
      content: "";
      left: -12%;
      right: 0;
      top: 0;
      width: 200%;
      height: 200%;
      -webkit-transform: skew(-15deg);
      -ms-transform: skew(-15deg);
      transform: skew(-15deg);
  }
  #date-countdown2 {
      margin-bottom: 20px;
  }

  #date-countdown2 .countdown-block {
      display: inline-block;
      font-size: 12px;
      border-radius: 7px;
      color: #fff;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 80px;
      margin-right: 8px;
      text-align: center;
  }

  #date-countdown2 .countdown-block .label {
      line-height: 1.2;
      font-size: 1rem;
      display: block;
  }

  .custom-table {
      margin-bottom: 0;
  }

  .custom-table thead tr th {
      background: #ee1e46;
      color: #fff;
      border: none;
  }

  .custom-table tbody tr td {
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .custom-table tbody tr td strong {
      font-weight: 700;
      color: #0a0909;
  }

  .custom-table tbody tr:last-child td {
      border: none;
  }
  .text-white-opacity-05 {
      color: rgba(255, 255, 255, 0.5);
  }

@media (min-Width:280px){
    .custom-table {
        margin-bottom: 0;
    }
 @media(max-width:280px) {

     .n-empates {
         display: none;
     }
 }

    .custom-table thead tr th {
        background: #ee1e46;
        color: #fff;
        border: none;
        
    }

    .custom-table tbody tr td {
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .custom-table tbody tr td strong {
        font-weight: 700;
    }

    .custom-table tbody tr:last-child td {
        border: none;
    }

    .text-white-opacity-05 {
        color: rgba(255, 255, 255, 0.5);
    }

}








/* **************** Sobre-nós ****************  */


/* Blocks */
.site-blocks-cover {
    background-image: url("/images/hero_bg_3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 30px;
}


.site-blocks-cover.overlay {
    position: relative;
}

.site-blocks-cover.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.site-blocks-cover,
.site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh - 174px);
}

.site-blocks-cover h1 {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    line-height: 1.5;
}

.custom-about_us-img{
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}


@media (min-width: 768px) {
    .site-blocks-cover h1 {
        font-size: 50px;
    }
}

.site-blocks-cover p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
}

.site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5;
}


.page-footer{
    background-color: rgb(65, 64, 64);
    color: white;
}

.page-footer .list-inline-item .modal-dialog{
    color: #000000;
}

/* **************** Contato ****************  */

.site-section {
    padding: 2.5em 0;
}

@media (min-width: 768px) {
    .site-section {
        padding: 5em 0;
    }
}

.site-section.site-section-sm {
    padding: 4em 0;
}

.title-contact{
   font-size: 30px;
   font-weight: 700;
   color: rgb(29, 27, 27);
   line-height: 1.5;
   text-align: center;
   padding-top: 10px;
   margin-bottom: 0; 
}

@media (min-width: 768px) {
    .title-contact h1 {
        font-size: 50px;
    }
}

.form-control {
    height: 43px;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
    border-color: hsl(4, 88%, 56%);
}


.form-control:active,
.form-control:focus {
    -webkit-box-shadow: -1px 0px 2px 0px  rgba(245, 5, 5, 0.884)
     !important;
    box-shadow: -1px 0px 2px 0px rgba(245, 5, 5, 0.884)
     !important;
    
}




/**************** Atletas-Formulario ****************/

            /**************** Image-Form ****************/

.personal-image {
    text-align: center;
    margin-left: 5px;
    
}

.personal-image input[type="file"] {
    display: none;
}

.personal-figure {
    position: relative;
    width: 250px ;
    height: 450px;
}

.personal-avatar {
    cursor: pointer;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border-radius: 10%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
}

.personal-avatar:hover {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.8);
        transition: all ease-in-out .3s;

}





/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: #000000;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    background-color: #0a0909;
}

#sidebar-wrapper .list-group {
    width: 15rem;
    
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

#page-content-wrapper .navbar{
    padding: .95rem 1rem;
    background-color: #0a0909;

}
.list-group .list-group-item-action{
    background-color: #dc3545;
    color: white;
}

div.list-group a:hover {
    background-color: #ee5060;
    color: #fffafa;
}


