      <header>
          <nav class="navbar navbar-expand-lg navbar-custom col-sm-md-12" id="">
              <div class="container  ">
                  <a class="navbar-brand " href="/#home">
                      <div class="logo">
                      </div>
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                      aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="oi oi-menu"></span>Menu
                  </button>
                  <div class="collapse navbar-collapse" id="ftco-nav">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item active"><a href="/#home" class="nav-link">Home</a></li>
                          <li class="nav-item"><a href="/#Sobre-Nos" class="nav-link">Sobre Nós</a></li>
                          <li class="nav-item"><a href="/#jogos" class="nav-link">Jogos</a></li>
                          <li class="nav-item"><a href="/#news" class="nav-link">News</a></li>
                          <li class="nav-item"><a href="/#contato" class="nav-link">Contato</a></li>
                          <li class="nav-item cta"><a href="/login" class="nav-link">
                                  <button type="button" class="btn btn-danger btn-sm button-time">Casdastro de
                                      Jogadores</button> </a></li>
                      </ul>
                      <form class="form-inline navbar-search-form disabled ml-auto" action="" method="post">
                          <input type="search" name="search" placeholder="Buscar" aria-label="Search"
                              class="search form-control col-md-12">
                      </form>
                      <ul class="navbar-nav navbar-search-button">
                          <li class="nav-item">
                              <a class="nav-link search-button" href="#"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
      </header>