<div class="col-lg-6 " data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
    <div class="proximo-jogo-lider bg-light">
      <div class="widget-title">
        <h3>Confronto do Lider</h3>
      </div>
      <div class="widget-body mb-3">
        <div class="widget-vs">
          <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
            <div class="team-1 text-center">
              <img src="/images/imag-banner.jpg" alt="Image">
              <h3>Ajax.Fc</h3>
            </div>
            <div>
              <span class="vs"><span>VS</span></span>
            </div>
            <div class="team-2 text-center">
              <img src="/images/imag-banner.jpg  " alt="Image">
              <h3>Ajax.Fc</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center widget-vs-contents mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
        <h4>Mastins Neto Legue</h4>
        <p class="mb-5">
          <span class="d-block">20 setembro, 2020</span>
          <span class="d-block">18:30 </span>
          <strong class="text-primary">Ajax.Fc Arena</strong>
        </p>
        <div id="date-countdown2" class="pb-1"></div>
      </div>
    </div>
  </div>