<div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading logo"></div>
    <div class="list-group list-group-flush">
      <a href="/admintable" class="list-group-item list-group-item-action bg-dark text-white">Atletas</a>
      <a href="/users/adminobs" class="list-group-item list-group-item-action bg-dark text-white">Observações</a>
      <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Esque</a>
    </div>
  </div>