<div class="col-lg-6">
    <div class="proximo-jogo-lider bg-light" data-aos="flip-left" data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
      <table class="table custom-table ">
        <thead>
          <tr>
            <th>P</th>
            <th>Time</th>
            <th>V</th>
            <th class="n-empates">E</th>
            <th>D</th>
            <th>PTS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><strong class="text-table-custom">Ajax.Fc</strong></td>
            <td>22</td>
            <td class="n-empates">3</td>
            <td>2</td>
            <td>140</td>
          </tr>
          <tr>
            <td>2</td>
            <td><strong class="text-table-custom">Juventus</strong></td>
            <td>22</td>
            <td class="n-empates">3</td>
            <td>2</td>
            <td>140</td>
          </tr>
          <tr>
            <td>3</td>
            <td><strong class="text-table-custom">Juventus</strong></td>
            <td>22</td>
            <td class="n-empates">3</td>
            <td>2</td>
            <td>140</td>
          </tr>
          <tr>
            <td>4</td>
            <td><strong class="text-table-custom">Juventus</strong></td>
            <td>22</td>
            <td class="n-empates">3</td>
            <td>2</td>
            <td>140</td>
          </tr>
          <tr>
            <td>5</td>
            <td><strong class="text-table-custom">Juventus</strong></td>
            <td>22</td>
            <td class="n-empates">3</td>
            <td>2</td>
            <td>140</td>
          </tr>
          <tr>
            <td>6</td>
            <td><strong class="text-table-custom">Paris Saint Germain</strong></td>
            <td>22</td>
            <td class="n-empates">3</td>
            <td>2</td>
            <td>140</td>
          </tr>
          <tr>
            <td>7</td>
            <td><strong class="text-table-custom">Paris Saint Germain</strong></td>
            <td>22</td>
            <td class="n-empates">3</td>
            <td>2</td>
            <td>140</td>
          </tr>
          <tr>
            <td>8</td>
            <td><strong class="text-table-custom">Paris Saint Germain</strong></td>
            <td>22</td>
            <td class="n-empates">3</td>
            <td>2</td>
            <td>140</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>