<!DOCTYPE html>
<html>
  <head>
    <title>Contato</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Contato</h1>
    <p>Welcome to</p>
    <img src="/images/icone.png" alt="">
  </body>
</html>