<!DOCTYPE html>
<html lang="pt-br">


<%- include('./partials/head.ejs')  %>
<body>
  <main>
      <%- include('./partials/header.ejs') %>
    <!-- <header>
      <nav class="navbar navbar-expand-lg navbar-custom " id="">
        <div class="container  ">
          <a class="navbar-brand " href="/#home">
            <div class="logo">
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>
          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="/#home" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="/#Sobre-Nos" class="nav-link">Sobre Nós</a></li>
              <li class="nav-item"><a href="/#jogos" class="nav-link">Jogos</a></li>
              <li class="nav-item"><a href="/#news" class="nav-link">News</a></li>
              <li class="nav-item"><a href="/#contato" class="nav-link">Contato</a></li>
              <li class="nav-item cta"><a href="/atletas" class="nav-link"> <button type="button"
                    class="btn btn-danger btn-sm button-time">Times & Atletas</button> </a></li>
            </ul>
            <form class="form-inline navbar-search-form disabled ml-auto" action="" method="post">
              <input type="search" name="search" placeholder="Buscar" aria-label="Search"
                class="search form-control col-md-12">
            </form>
            <ul class="navbar-nav navbar-search-button">
              <li class="nav-item">
                <a class="nav-link search-button" href="#"><i class="fas fa-search"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header> -->
    <!-- **************** carousel banner part ****************-->
    <section class="carousel-banner">
      <!--Carousel-->
      <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner carousel-banner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <section class="banner_part">
              <div class="container">
                <div class="row align-content-center">
                  <div class="col-lg-7 col-xl-6">
                    <div class="banner_text  d-none d-md-block">
                      <h3>Da varzea <span>nascemos</span>, Na varzea <span>vencemos</span>! </h3>
                      <p>Esporte, cidadania, inclusão e responsabilidade social,</p>
                      <p>a varzea nunca foi só Futebol. </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <!--/Second slide-->
          <div class="carousel-item">
            <section class="banner_part-img-3">
            </section>
          </div>
          <!--/Third slide-->
          <div class="carousel-item">
            <section class="banner_part-img-2">
            </section>
          </div>
        </div>
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
      </div>
      <!--/.Carousel-->
    </section>
    <div class="resultados " data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
      <div class="resultados-rodada-titulo">
        <p>Resultados Da Rodada</p>
        <h6>Martins Neto <span>Cup</span> - 2020</h6>
        <hr class="linha-horizontal">
      </div>
      <section class="container resultados-banner">
        <div class="row  resultados-block">
          <div class="col resultados-block-1">
            <div class="row">
              <img src="/images/escudo-1maio.jpeg" alt="">
              <p>Ajax.Fc <span>3</span></p>
            </div>
            <div class="text-VS">
              <p>Vs</p>
            </div>
            <div class="row">
              <img src="/images/escudo.ajax.jpg" alt="">
              <p>Ajax.Fc <span>3</span></p>
            </div>
          </div>
          <div class="linha-vertical"></div>
          <div class="col resultados-block-2">
            <div class="row">
              <img src="/images/escudo-1maio.jpeg" alt="">
              <p>Ajax.Fc <span>3</span></p>
            </div>
            <div class="text-VS">
              <p>Vs</p>
            </div>
            <div class="row ">
              <img src="/images/escudo.ajax.jpg" alt="">
              <p>Ajax.Fc <span>3</span></p>
            </div>
          </div>
          <div class="linha-vertical"></div>
          <div class="col resultados-block-3">
            <div class="row">
              <img src="/images/escudo-1maio.jpeg" alt="">
              <p>Ajax.Fc <span>3</span></p>
            </div>
            <div class="text-VS">
              <p>Vs</p>
            </div>
            <div class="row">
              <img src="/images/escudo.ajax.jpg" alt="">
              <p>Ajax.Fc <span>3</span></p>
            </div>
          </div>
          <div class="linha-vertical"></div>
          <div class="col resultados-block-4">
            <div class="row">
              <img src="/images/escudo-1maio.jpeg" alt="">
              <p>Ajax.Fc <span>3</span></p>
            </div>
            <div class="text-VS">
              <p>Vs</p>
            </div>
            <div class="row">
              <img src="/images/escudo.ajax.jpg" alt="">
              <p>Ajax.Fc <span>3</span></p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--**************** sobre-Nós **************** -->
    <div class="site-blocks-cover overlay" id="Sobre-Nos" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
            <h1 class="bg-text-line">Sobre Nós</h1>
            <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad maxime velit nostrum praesentium
              voluptatem. Mollitia perferendis dolore dolores.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 ">
            <img src="images/about_1.jpg" alt="Image" class="img-fluid custom-about_us-img">
          </div>
          <div class="col-md-6 pl-md-5">
            <h2 class="text-black">Nossa História</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis inventore eius,
              doloremque fugiat id laudantium. Delectus quisquam voluptates deleniti incidunt, iusto magni mollitia
              rerum! Ex perspiciatis incidunt, laborum repellat illo.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo maxime eligendi sunt autem consequuntur
              minima, quidem iure, nisi laboriosam, nam nostrum saepe voluptatibus repellat quam reiciendis. Accusantium
              omnis facilis eligendi.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2 ">
            <img src="images/about_2.jpg" alt="Image" class="img-fluid custom-about_us-img">
          </div>
          <div class="col-md-6 pr-md-5">
            <h2 class="text-black">Objetivos</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis inventore eius,
              doloremque fugiat id laudantium. Delectus quisquam voluptates deleniti incidunt, iusto magni mollitia
              rerum! Ex perspiciatis incidunt, laborum repellat illo.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo maxime eligendi sunt autem consequuntur
              minima, quidem iure, nisi laboriosam, nam nostrum saepe voluptatibus repellat quam reiciendis. Accusantium
              omnis facilis eligendi.</p>
          </div>
        </div>
      </div>
    </div>
    <!--**************** Ultimas Noticias **************** -->

    <section class="noticias">
      <div class="titulo-section" id="news">
        <p>Ultimas Notícias </p>
        <hr class="linha-horizontal">
      </div>
      <div class="card-columns">
        <div class="card">
          <img class="card-img-top" src="/images/imag-banner.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card que quebra em uma nova linha</h5>
            <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução
              a um
              conteúdo adicional. Este conteúdo é um pouco maior.</p>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/imag-banner.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um
              conteúdo
              adicional.</p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
          </div>
        </div>
        <div class="card bg-primary text-table-custom text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer class="blockquote-footer">
              <small>
                Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um
              conteúdo
              adicional.</p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img" src="/images/imag-banner.jpg" alt="Imagem do card">
        </div>
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um
              conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em
              ação.
            </p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
          </div>
        </div>
      </div>
      </div>

    </section>

    <!--**************** Tabela de jogos **************** -->
    <div class="resultados-rodada-titulo" id="jogos">
      <p></p>
      <h6>Proximos <span>Jogos</span> - 2020</h6>
      <hr class="linha-horizontal">
    </div>
    <div class="section-jogos ">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 " data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="proximo-jogo-lider bg-light">
              <div class="widget-title">
                <h3>Confronto do Lider</h3>
              </div>
              <div class="widget-body mb-3">
                <div class="widget-vs">
                  <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                    <div class="team-1 text-center">
                      <img src="/images/imag-banner.jpg" alt="Image">
                      <h3>Ajax.Fc</h3>
                    </div>
                    <div>
                      <span class="vs"><span>VS</span></span>
                    </div>
                    <div class="team-2 text-center">
                      <img src="/images/imag-banner.jpg  " alt="Image">
                      <h3>Ajax.Fc</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center widget-vs-contents mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                <h4>Mastins Neto Legue</h4>
                <p class="mb-5">
                  <span class="d-block">20 setembro, 2020</span>
                  <span class="d-block">18:30 </span>
                  <strong class="text-primary">Ajax.Fc Arena</strong>
                </p>
                <div id="date-countdown2" class="pb-1"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="proximo-jogo-lider bg-light" data-aos="flip-left" data-aos-easing="ease-out-cubic"
              data-aos-duration="2000">
              <table class="table custom-table ">
                <thead>
                  <tr>
                    <th>P</th>
                    <th>Time</th>
                    <th>V</th>
                    <th class="n-empates">E</th>
                    <th>D</th>
                    <th>PTS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td><strong class="text-table-custom">Ajax.Fc</strong></td>
                    <td>22</td>
                    <td class="n-empates">3</td>
                    <td>2</td>
                    <td>140</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td><strong class="text-table-custom">Juventus</strong></td>
                    <td>22</td>
                    <td class="n-empates">3</td>
                    <td>2</td>
                    <td>140</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td><strong class="text-table-custom">Juventus</strong></td>
                    <td>22</td>
                    <td class="n-empates">3</td>
                    <td>2</td>
                    <td>140</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td><strong class="text-table-custom">Juventus</strong></td>
                    <td>22</td>
                    <td class="n-empates">3</td>
                    <td>2</td>
                    <td>140</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><strong class="text-table-custom">Juventus</strong></td>
                    <td>22</td>
                    <td class="n-empates">3</td>
                    <td>2</td>
                    <td>140</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td><strong class="text-table-custom">Paris Saint Germain</strong></td>
                    <td>22</td>
                    <td class="n-empates">3</td>
                    <td>2</td>
                    <td>140</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td><strong class="text-table-custom">Paris Saint Germain</strong></td>
                    <td>22</td>
                    <td class="n-empates">3</td>
                    <td>2</td>
                    <td>140</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td><strong class="text-table-custom">Paris Saint Germain</strong></td>
                    <td>22</td>
                    <td class="n-empates">3</td>
                    <td>2</td>
                    <td>140</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section-jogos -->


    <!--**************** Tabela de jogos **************** -->
    <div class="section-jogos">
      <div class="container">
        <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading text-table-custom">Proximas Partidas</h2>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="bg-light p-4 rounded" data-aos="flip-left" data-aos-easing="ease-out-cubic"
              data-aos-duration="2000">
              <div class="widget-body">
                <div class="widget-vs">
                  <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                    <div class="team-1 text-center">
                      <img src="/images/imag-banner.jpg" alt="Image">
                      <h3>Ajax.Fc</h3>
                    </div>
                    <div>
                      <span class="vs"><span>VS</span></span>
                    </div>
                    <div class="team-2 text-center">
                      <img src="/images/imag-banner.jpg" alt="Image">
                      <h3>Soccer</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center widget-vs-contents mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                <h4>Mastins Neto Legue</h4>
                <p class="mb-5">
                  <span class="d-block">20 setembro, 2020</span>
                  <span class="d-block">18:30</span>
                  <strong class="text-primary">Juventus Arena</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="bg-light p-4 rounded">
              <div class="widget-body">
                <div class="widget-vs">
                  <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                    <div class="team-1 text-center">
                      <img src="/images/imag-banner.jpg" alt="Image">
                      <h3>Ajax.Fc</h3>
                    </div>
                    <div>
                      <span class="vs"><span>VS</span></span>
                    </div>
                    <div class="team-2 text-center">
                      <img src="/images/imag-banner.jpg" alt="Image">
                      <h3>Soccer</h3>
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center widget-vs-contents mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                <h4>Mastins Neto Legue</h4>
                <p class="mb-5">
                  <span class="d-block">20 setembro, 2020</span>
                  <span class="d-block">18:30</span>
                  <strong class="text-primary">Juventus Arena</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="bg-light p-4 rounded">
              <div class="widget-body">
                <div class="widget-vs">
                  <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                    <div class="team-1 text-center">
                      <img src="/images/imag-banner.jpg" alt="Image">
                      <h3>Ajax.Fc</h3>
                    </div>
                    <div>
                      <span class="vs"><span>VS</span></span>
                    </div>
                    <div class="team-2 text-center">
                      <img src="/images/imag-banner.jpg" alt="Image">
                      <h3>Soccer</h3>
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center widget-vs-contents mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                <h4>Mastins Neto Legue</h4>
                <p class="mb-5">
                  <span class="d-block">20 setembro, 2020</span>
                  <span class="d-block">18:30</span>
                  <strong class="text-primary">Juventus Arena</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="bg-light p-4 rounded">
              <div class="widget-body">
                <div class="widget-vs">
                  <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                    <div class="team-1 text-center">
                      <img src="/images/imag-banner.jpg" alt="Image">
                      <h3>Ajax.Fc</h3>
                    </div>
                    <div>
                      <span class="vs"><span>VS</span></span>
                    </div>
                    <div class="team-2 text-center">
                      <img src="/images/imag-banner.jpg" alt="Image">
                      <h3>Soccer</h3>
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center widget-vs-contents mb-4" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                <h4>Mastins Neto Legue</h4>
                <p class="mb-5">
                  <span class="d-block">20 setembro, 2020</span>
                  <span class="d-block">18:30</span>
                  <strong class="text-primary">Juventus Arena</strong>
                </p>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- .section-jogos -->

    <!--**************** Contato **************** -->
    <h1 class="title-contact bg-light" id="contato">Contato</h1>
    <div class="site-section bg-light" id="contato" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-first">
          <div class="col-md-7">
            <form action="#" method="post" class="bg-white">

              <div class="p-3 p-lg-5 border">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="c_fname" class="text-black">Nome <span class="text-danger">*</span></label>
                    <input type="text" class="form-control mixed-mask" id="c_fname" name="c_fname"
                      placeholder="Ex.: João ">
                  </div>
                  <div class="col-md-6">
                    <label for="c_lname" class="text-black">Sobrenome <span class="text-danger">*</span></label>
                    <input type="text" class="form-control mixed-mask" id="c_lname" name="c_lname"
                      placeholder="Ex.: Ribeiro da Silva">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_email" class="text-black">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control mixed-mask" id="c_email" name="c_email"
                      placeholder="Ex.: seu_email@gmail.com">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_phone" class="number">Telefone </label>
                    <input type="text" class="form-control phone-ddd-mask" placeholder="Ex.: (00) 0000-0000">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_message" class="text-black">Mensagem </label>
                    <textarea name="c_message" id="c_message" cols="30" rows="7" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <input type="submit" class="btn btn-danger btn-lg btn-block" value="Enviar Mensagem">
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-5">
            <div class="p-4 border mb-3 bg-white">
              <p class="mb-0">Endereço</p>
              <p class="mb-4">Avenida Paulista , 00000, São Paulo, Brasil </p>

              <p class="mb-0">Telefone</p>
              <p class="mb-4"><a href="#">+11 232 3235 324</a></p>

              <p class="mb-0">Email </p>
              <p class="mb-4"><a href="#">email@gmail.com</a></p>
           </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4">

      <div class="container text-center text-md-left">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
            <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
              consectetur
              adipisicing elit.</p>

          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-2 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-2 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-2 mx-auto">

            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr>

      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Registre-se</h5>
        </li>
        <li class="list-inline-item">
          <button type="button" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#exampleModal"
            data-whatever="@getbootstrap">Login</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Cadastre-se </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Endereço de email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Seu email">
                      <small id="emailHelp" class="form-text text-muted">Dados protegidos contra compartilhamentos
                        !</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Senha</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <hr>
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="#" class="btn-floating btn-fb mx-1">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn-floating btn-tw mx-1">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn-floating btn-gplus mx-1">
            <i class="fab fa-google-plus-g"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
      </ul>
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
      </div>
    </footer>
  </main>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

</body>

</html>