<%- include('./partials/head.ejs') %>

<body>
    <main>
        <%- include('./partials/header.ejs') %>
        <div class="container ">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ainda não possui cadastro?</h5>
                            <p class="card-text">Nós visamos incentivar o fotebol de varzea e ficamos felizes por você
                                também se interessar.
                                <br>
                                Se você ainda não possui cadastro, nós contamos com dois tipos de acesso. Seja você <a
                                    href="/atletas" class="text-danger">atleta</a> ou seja você <a href=""
                                    class="text-danger">recrutador</a>.
                            </p>
                            <p class="card-text"><small class="text-muted">Junte-se a nós!</small></p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2 mt-5">
                    <div class="container d-flex justify-content-center align-items-center p-5">
                        <p>Ou</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-5">
                    <div class="proximo-jogo-lider bg-light ">
                        <div class="widget-title-login">
                            <h5>Iniciar Sessão</h5>
                        </div>
                        <div class="widget-body mb-3">
                            <form action="/users/login" method="POST">
                                <label for="inf-nome">Email:</label>
                                <input type="email" class="form-control mb-2" id="inf-nome"
                                    placeholder="exemplo@email.com" value="" required name="email"> 
                                <label for="inf-nome">Senha:</label>
                                <input type="password" class="form-control mb-2" id="inf-nome"
                                    placeholder="Informe sua senha" value="" required name="password">
                                <button type="submit" value="upload"
                                    class="btn mt-3 btn-danger btn-lg btn-block">Entrar</button>
                            </form>
                        </div>

                    </div>
                </div>



            </div>

        </div>
        <%- include('./partials/footer.ejs') %>

    </main>

</body>

</html>